info/*
identify_velcontrol/*
.test/
orocos/*/*/bin/
orocos/*/*/build/
orocos/*/*/include/
orocos/*/*/lib/
orocos/*/*/Makefile
orocos/*/*/manifest.xml
orocos/*/*/images/
orocos/ourbot/MotionPlanning/src/DistributedMotionPlanning/Toolbox/bin/*.so
*.nc
*.log
*.ior
*~
*.o
orocos/setup.bash
orocos/setup.sh
orocos/setup.zsh
*.tb_history
*.rosinstall
*.rosinstall.bak
*_
!orocos/emperor/HawkEye/images/templates/*
