info/*
identify_velcontrol/*
.test/
.db
orocos/*/*/bin/
orocos/*/*/build/
orocos/*/*/lib/
orocos/emperor/HawkEye/images/*
!orocos/emperor/HawkEye/images/templates
orocos/ourbot/MotionPlanning/src/*/Toolbox/bin/
orocos/ourbot/MotionPlanning/src/*/Toolbox/obj/
orocos/ourbot/MotionPlanning/src/*/Toolbox/test/
todo
*.nc
*.log
*.ior
*~
*.o
*.pyc
orocos/setup.bash
orocos/setup.sh
orocos/setup.zsh
*.tb_history*
*.rosinstall
*.rosinstall.bak
*_
orocos/ourbot/Estimator/src/Kalman/const_*
