bin/
build/
include/
lib/
orocos/*/*/CMakeLists.txt
orocos/*/*/Makefile
orocos/*/*/manifest.xml
orocos/.*
orocos/setup.*
*.log
*.ior
orocos/emperor/reports.nc
*.txt
*~
*.tb_history
*.rosinstall
*.rosinstall.bak
orocos/*/TestCorba/
orocos/ourbot/orocos/naming_distributed_agents.txt
orocos/overview.txt
orocos/emperor/reports.nc
TestCorba/
identify_velcontrol/
.test/
network.txt

